.header-body {
  /* background-color: gray; */
  width: 98vw;
  height: 7vh;
  min-height: 2.5rem;
  padding-left: 2%;
  padding-top: 1.5%;
  padding-bottom: 0.5%;
}

.select-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vh 1vh;
  background-color: #f3f3f4;
  width: fit-content;
  border-radius: 1vh;
  margin-top: 10px;
  cursor: pointer;
}

.settings-icon {
  width: 18px;
  height: 16px;
}

.display-text {
  margin-left: 0.3vw;
  margin-right: 0.3vw;
}

.down-arrow-icon {
  width: 12px;
  height: 16px;
}

.toggle-modal {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  min-height: 4rem;
  padding: 0.1% 0.8%;
  border-radius: 1vh;
  position: absolute;
  margin-top: 0.5rem;
  background-color: #f3f3f4;
}


.grouping {
  width: 14vw;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.ordering {
  width: 14vw;
  margin: 0.5rem 0 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

#grouping {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 8vw;
}

#ordering {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 8vw;
}

select {
  background-color: #fff;
  border: none;
}